body {  }


div.accounts { width: 90%; margin: 10px auto 0 auto; }
div.accounts div.tabscontainer { width: 100%; }

/* gl summary widths*/

div.summaryprompts {width: 9%; display: inline-block; }
div.summaryleftinput {width: 40%; display: inline-block;}
div.summaryrightinput {width: 38%; display: inline-block;}
div.summarysegmentprompt {width: 10%; display: inline-block;}
div.summarysegmentinput {width: 10%; display: inline-block;}
div.summarysegmenttext {width: 70%; display: inline-block;}

div.inlinecontainer {width: 100%; display: inline; vertical-align: top; margin-right: 1%; margin-top: 1%;}





