.ui-autocomplete 
{
	list-style: none;
	margin: 0px;
	padding: 6px;
	border: solid 1px #eeeeee;
	background-color: white;
	width: 500px;
    max-height: 400px;       
    overflow: scroll;
    z-index: 900;
}

.ui-autocomplete li
{
	color: Black;
}

.ui-autocomplete li:hover
{
	background-color: #eee;
	border: solid 1px #eee;
	cursor: pointer;
}

.ui-menu-item-alternate
{
	background-color: #edf5f9;
}

.ui-autocomplete li a {
    color: black;
    display: block;
    padding: 5px;
}

.ui-autocomplete li a:hover
{
	padding: 4px 4px;
}