body { margin: 0px; padding: 0px; font-size: 12px; font-family: Arial; background-color: #eeeeee; }

h1, h2, h3 { margin: 0px; padding: 0px; }
h1 {  }
h2 {  }
h3 {  }

a { text-decoration: none; color: #0f75b4; }
a:hover { text-decoration: underline; }

.newbutton { display: inline-block; float: right; margin: -1px 0 0 0; padding: 0px; background-color: white; border: solid 1px black; background-image: url('../../Images/New_16.png'); width: 16px; height: 16px; }
.editbutton { display: inline-block; float: right; margin: -1px 0 0 0; padding: 0px; background-color: white; border: solid 1px black; background-image: url('../../Images/Edit_24.png'); width: 16px; height: 16px; }

fieldset { border: solid 1px #999999; margin-bottom: 10px; }
fieldset legend { font-weight: bold; }

label.error { color: red; font-size: 10px; font-style: italic; font-weight: lighter !important; width: 100% !important; margin-left: 31%; text-align: left !important; }
label.validateerror { color: red; font-size: 10px; font-style: italic; font-weight: lighter !important; width: 100% !important; text-align: left !important; }

input:disabled,
select:disabled { border: solid 1px transparent; border-top: solid 1px #666666; background-color: #eeeeee; color: #333333; }
select:disabled::-ms-expand { display: none; }

.scrollable { overflow-y: scroll; }

header { width: 100%; height: 75px; background-color: white; box-shadow: 3px 3px #cccccc; vertical-align: bottom; }

.logo { display: inline-block; height: 75px;  }
.logo a { display: block; background-image: url('../Images/DDI-logo.png'); width: 150px; height: 35px; margin: 20px 0 0 35px; }

.globalnav { position: absolute; top: 15px; right: 30px; border: solid 1px #0f75b4; box-shadow: -1px 1px 10px #999999; border-top: none; padding: 8px 15px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.globalnav ul { list-style: none; margin: 0px; padding: 0px; width: 100%; }
.globalnav ul li { display: inline-block; border-right: solid 1px #0f75b4; }
.globalnav ul li:last-child { border-right: none; }
.globalnav ul li a { display: block; padding: 0 7px 0 3px; }

.info { position: absolute; top: 50px; right: 10px; padding: 8px 15px; }
.info ul { list-style: none; margin: 0px; padding: 0px; width: 100%; }
.info ul li { display: inline-block; border-right: solid 1px #0f75b4; }
.info ul li:last-child { border-right: none; }
.info ul li a { display: block; padding: 0 7px 0 3px; }
.info ul li span { display: block; padding: 0 7px 0 3px; }

.topnav { display: inline-block; margin-left: 30px; clear: both; }
.topnav ul { list-style: none; margin: 0px; padding: 0px; }
.topnav ul li { display: block; margin-right: 25px; }
.topnav ul li:hover { background-color: #0f75b4; }
.topnav ul li:hover>a { color: white; }
.topnav ul li a { display: block; font-size: 14px; color: #303030; font-weight: bold; line-height: 35px; padding: 0px 15px; }
.topnav ul li a:hover { text-decoration: underline; }
.topnav ul li ul { background-color: white; box-shadow: 3px 3px 8px #999999; }
.topnav ul li ul li { margin: 0px; }
#mainmenu a.static { padding: 0 15px !important; }

.maincontainer { width: 100%; }

div.twocolumn>div { width: 49%; display: inline-block; vertical-align: top; margin-right: .8%; }
div.threecolumn>div { width: 32%; display: inline-block; vertical-align: top; margin-right: 1% }
div.fourcolumn>div { width: 24%; display: inline-block; vertical-align: top; margin-right: .7%; }
div.fivecolumn>div { width: 19%; display: inline-block; vertical-align: top; margin-right: .7%; }

div.inline div.fieldblock { display: inline-block; margin-right: 3px; }

div.fieldblock { margin: 0 0 10px 0; }
div.fieldblock.inline { display: inline-block; }
div.fieldblock label { display: block; }
div.fieldblock label.inline { display: inline-block; }
div.fieldblock input,
div.fieldblock select { width: 100%; }
div.fieldblock input { height: 15px; }
div.fieldblock select { height: 21px; }
div.fieldblock input[type="checkbox"] { border: solid 1px lime; width: 25px; display: inline-block; }
div.fieldblock.range {  }
div.fieldblock.range input { display: inline-block; width: 25%; }

.datepair {  }
.datepair input.date { width: auto; display: inline-block; }
.datepair input.time { width: auto; display: inline-block; }
.datepicker {  }

.customField textarea { width: 100%; }
.customField div.radiobutton label { vertical-align: middle; }
.customField input[type="radio"] { width: auto; vertical-align: middle; }


.tabscontainer { width: 73%; display: inline-block; background-color: white; vertical-align: top; }
.tabscontainer.inner { width: 100%; }

.ui-state-active { background-color: #0f75b4 !important; border-color: #0f75b4 !important; }
.accordion-buttons { text-align: right; }
.accordion-buttons a { display: inline-block; padding: 3px 5px; color: #0f75b4; }

.dashboard { width: 10%; display: inline-block; background-color: white; vertical-align: top; }

.regionscontainer label { margin-right: 3px; }

/* EDIT CONTROLS */
.editcontainer {  }
.editcontainer.active { border: solid 2px #0f75b4; background-color: #cae9ff; }

.editcontrols { margin-right: 10px; text-align: right; }
.editcontrols a { color: #0f75b4; padding: 5px; }
.editmode-active { display: none; }
/* END EDIT CONTROLS */

/* TAG BOX CONTROL */

.dx-texteditor { border-radius: 0px; border-color:rgb(169, 169, 169) }
.dx-texteditor.dx-state-disabled { border: solid 1px transparent; border-top: solid 1px #000000; background-color: #eee; color: #000000; }
.dx-texteditor-input { padding: 0px;}
.dx-placeholder { margin: 0px; padding: 0px; }
.dx-placeholder:before { padding: 0 0 5px 4px; }

.dx-tag-content { padding: 0 25px 5px 6px; margin: 3px 0 3px 4px; height: 19px; }
.dx-tag-content span { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.dx-state-disabled.dx-widget, .dx-state-disabled .dx-widget { opacity: 1; }

/* END TAG BOX CONTROL */

.tagselect, .noteTopicSelect { width: 97% !important; border: solid 1px black; min-height: 15px; background-color: white; display: inline-block; }
.tagselect.disabled { border: solid 1px transparent; border-top: solid 1px #000000; background-color: #eee; color: #000000; }
.tagselect div {  }
.tagselect div.dx-tag-content span, .noteTopicSelect div.dx-tag-content span{ display: block; margin-top: 5px; }

.tagSelectImage, .noteTopicSelectImage { display: inline-block; padding: 2px; margin: 0 0 0 3px; 
                  background: url('../../Images/Search_Mono_16.png') no-repeat center; width: 18px; height: 18px; vertical-align: bottom;
}

.tagdropdowncontainer { position:absolute; z-index:950; background-color:white; border:solid 1px #333333; box-shadow:3px 5px 5px #eee; padding:10px 20px 10px 5px }
.tagdropdowncontainer ul { list-style:none; margin:0px; padding:0px;  }
.tagselectgridcontainer { height: 600px; overflow: scroll; }
.tagselectgridcontainer { height: 600px; overflow-y: scroll; }
.tagSelectImage:hover, .noteTopicSelectImage:hover { cursor: pointer; }
.tagSelectorHeader { background-color: #0f75b4; color: white; font-weight: bold; font-size: 14px; padding: 3px 8px; border-radius: 5px; }
.tagSelectorContainer { margin-bottom: 10px; }
.tagSelectorContainer ul { list-style: none; padding: 0px; margin: 0px; }
.tagSelectorContainer ul li { margin: 2px 0; }


/* MODAL CONTENT */
.ui-dialog { box-shadow: -5px 5px 15px #999999; border: solid 2px #999999 !important; border-radius: 5px; }
.ui-dialog-titlebar { background-color: #0f75b4; color: white; }

.modalcontent { margin-top: 10px; }
.modalcontent fieldset { margin-bottom: 10px; }
.modalcontent div.inline { margin-bottom: 5px; }
.modalcontent div.twocolumn>div { margin-right: .5%; }
.modalcontent div.threecolumn>div {  }
.modalcontent div.fourcolumn>div { margin-right: .5%; }
.modalcontent div.fivecolumn>div { margin-right: .5%; }

.modalcontent fieldset { background-color: #eeeeee; }

.modalbuttons { text-align: right; padding-top: 15px; }
.modalbuttons input[type="button"] { margin-right: 10px; }
.modalbuttons a { color: #0f75b4; }
/* END MODAL CONTENT */



/* NEW CONSTITUENT MODAL */
.addconstituentmodal { overflow: hidden; }
.addconstituentmodal div.fieldblock input { width: 98.7%; }
.addconstituentmodal div.fieldblock select { width: 100%; }

.newconstituentcontainer { vertical-align: top; overflow: hidden; }
.constituenttypeinner { width: 900px; /*position: relative; left: auto;*/ margin: 0px; padding: 0px; }
.constituenttypeselect { display: inline-block; width: 900px; vertical-align: top; margin: 0px; padding: 0px; }
.constituentdetails { display: inline-block; width: 900px; vertical-align: top; margin: 0px; padding: 0px; }

.constituenttypeselect div { width: 150px; height: 177px; border: 5px transparent; display: inline-block; margin: 10px; }
.constituenttypeselect div:hover { cursor: pointer; box-shadow: -5px 5px 15px #333333; }
.constituenttypeselect div img { display: block; width: 100%;  }
.constituenttypeselect div label { display: block; text-align: center; font-size: 14px; font-weight: bold; margin-top: 5px; }

.church { background: url('../../Images/Church.png') no-repeat; }
.family { background: url('../../Images/Family.png') no-repeat; }
.individual { background: url('../../Images/Male.png') no-repeat; }
.organization { background: url('../../Images/Organization.png') no-repeat; }
.default { background: url('../../Images/Male.png') no-repeat; }
/* END NEW CONSTITUENT MODAL */



