body { margin: 0px; padding: 0px; font-size: 1em; font-family: Arial; background-color: #c2ddf4; min-width: 1000px; }

h1, h2, h3 { margin: 0px; padding: 0px; }
h1 {  }
h2 {  }
h3 {  }

a { text-decoration: none; color: #0f75b4; }
a:hover { text-decoration: underline; }
a.disabled { color: #333333;  text-decoration: none; cursor: default; pointer-events: none; }

.justright {text-align: right}
.justleft {text-align: left}
.floatleft {float: left}
.floatright {float: right}

.newbutton { display: inline-block; float: right; margin: -1px 0 0 0; padding: 0px; color: #0f75b4 !important; }
.editbutton { display: inline-block; float: right; margin: -1px 0 0 0; padding: 0px; color: #0f75b4 !important; }
.editbuttoninline { display: inline-block; margin: 0 0 0 2px; padding: 0px; }
.newbuttoninline { display: inline-block; margin: -1px 0 0 0; padding: 0px; }

fieldset { border: solid 1px #999999; margin-bottom: 10px; }
fieldset legend { font-weight: bold; }

label.error { color: red; font-size: 10px; font-style: italic; font-weight: lighter !important; width: 100% !important; margin-left: 31%; text-align: left !important; }
label.validateerror { color: red; font-size: 10px; font-style: italic; font-weight: lighter !important; width: 100% !important; text-align: left !important; }

input:disabled,
select:disabled { border: solid 1px transparent; border-top: solid 1px #666666; background-color: #eeeeee; color: #333333; }
select:disabled::-ms-expand { display: none; }
input.inline,
select.inline { display: inline-block; }

.bold { font-weight: bold; }

textarea { width: 95%; }

.readonly { border: solid 1px transparent; background-color: #eeeeee; color: #333333; margin-bottom: 10px; }

.scrollable { overflow-y: scroll; }

header { width: 100%; height: 75px; background-color: white; box-shadow: 3px 3px #cccccc; vertical-align: bottom; }

.logo { display: inline-block; height: 75px;  }
.logo a { display: block; background-image: url('../Images/DDI-logo.png'); width: 150px; height: 35px; margin: 20px 0 0 35px; }

.globalnav { position: absolute; top: 15px; right: 30px; border: solid 1px #0f75b4; box-shadow: -1px 1px 10px #999999; border-top: none; padding: 8px 15px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.globalnav ul { list-style: none; margin: 0px; padding: 0px; width: 100%; }
.globalnav ul li { display: inline-block; border-right: solid 1px #0f75b4; }
.globalnav ul li:last-child { border-right: none; }
.globalnav ul li a { display: block; padding: 0 7px 0 3px; }

.info { position: absolute; top: 50px; right: 10px; padding: 8px 15px; }
.info ul { list-style: none; margin: 0px; padding: 0px; width: 100%; }
.info ul li { display: inline-block; border-right: solid 1px #0f75b4; }
.info ul li:last-child { border-right: none; }
.info ul li a { display: block; padding: 0 7px 0 3px; }
.info ul li span { display: block; padding: 0 7px 0 3px; }

.topnav { display: block; width: 100%; clear: both; background-color: #0D75B3; color: white; }
.topnav ul { display: inline-block; list-style: none; padding: 0px; }
.topnav ul li { display: block; margin-right: 25px; }
.topnav ul li:hover { background-color: #0D75B3; }
.topnav ul li:hover>a { color: white; }
.topnav ul li a.level1 { color: #bdff76; }
.topnav ul.level2 { display: none; }
.topnav ul li a { display: block; font-size: 14px; color: #030303; font-weight: bold; line-height: 35px; padding: 0px 15px; }
.topnav ul li a:hover { text-decoration: underline; }
.topnav ul li ul { background-color: white; box-shadow: 3px 3px 8px #999999; }
.topnav ul li ul li { margin: 0px; }
#mainmenu { margin-left: 100px; }
#mainmenu a.static { padding: 0 15px !important; }

.utilitynav { float: right; background: url('../../Images/util_green.png') no-repeat; width: 24px; height: 24px; margin: 6px 30px 0 0; }
.utilitynav ul { list-style: none; background-color: white; margin: 0px; padding: 0px; right: 28px; top: 110px; border: solid 1px silver; position: absolute; width: 150px; z-index: 900; }
.utilitynav ul li { display: block; cursor: pointer; text-align: right; width: 100%; }
.utilitynav ul li:hover { background-color: #0D75B3; }
.utilitynav ul li.menu-break { border-bottom: solid 1px #cccccc; }
.utilitynav ul li a { text-decoration: none; color: black; display: block; padding: 5px 8px 5px 3px; }

.maincontainer { width: 100%; }

.dx-row:not(.dx-header-row):hover { background-color: #e9e9e9 !important; cursor: pointer; }

div.twocolumn>div { width: 49%; display: inline-block; vertical-align: top; margin-right: .8%; }
div.twocolumn>fieldset { width: 47%; display: inline-block; vertical-align: top; margin: 0px .8% 0px 0px; }
div.threecolumn>div { width: 32%; display: inline-block; vertical-align: top; margin-right: 1% }
div.fourcolumn>div { width: 24%; display: inline-block; vertical-align: top; margin-right: .7%; }
div.fivecolumn>div { width: 19%; display: inline-block; vertical-align: top; margin-right: .7%; }

div.inline div.fieldblock { display: inline-block; margin-right: 3px; }

div.fieldblock { margin: 0 0 10px 0; }
div.fieldblock label { display: block; }
div.fieldblock label.inline { display: inline-block; width: 24%; }
div.fieldblock input,
div.fieldblock select { width: 100%; }
div.fieldblock input { height: 15px; }
div.fieldblock select { height: 21px; }
div.fieldblock input[type="checkbox"],
div.fieldblock input[type="radio"] { width: 25px; display: inline-block; }
div.fieldblock.range {  }
div.fieldblock.range input { display: inline-block; width: 25%; }
div.fieldblock.checkbox label { display: inline-block; }
div.fieldblock.inline { display: inline-block; }
div.fieldblock.inline label { display: inline-block }
div.fieldblock.inline input[type="checkbox"],
div.fieldblock.inline input[type="radio"] { vertical-align: sub; width: 15px; display: inline-block; }

.datepair {  }
.datepair input.date { width: auto; display: inline-block; }
.datepair input.time { width: auto; display: inline-block; }
.datepicker {  }

.customField textarea { width: 100%; }
.customField div.radiobutton label { vertical-align: middle; }
.customField input[type="radio"] { width: auto; vertical-align: middle; }


.tabscontainer { width: 73%; display: inline-block; background-color: white; vertical-align: top; }
.tabscontainer.inner { width: 100%; }

.ui-state-active { background-color: #0f75b4 !important; border-color: #0f75b4 !important; }
.accordion-buttons { text-align: right; }
.accordion-buttons a { display: inline-block; padding: 3px 5px; color: #0f75b4; }

.dashboard { width: 10%; display: inline-block; background-color: white; vertical-align: top; }

.regionscontainer label { margin-right: 3px; }
.searchicon{
   
    background-image: url(../images/Search_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */

}
/* EDIT CONTROLS */
.editcontainer {  }
.editcontainer.active { border: solid 2px #0f75b4; background-color: #cae9ff; }

.editcontrols { margin-right: 10px; text-align: right; }
.editcontrols a { color: #0f75b4; padding: 5px; }
.editmode-active { display: none; }
/* END EDIT CONTROLS */


/* TAG BOX CONTROL */
.dx-texteditor { border-radius: 0px; border-color:rgb(169, 169, 169) }
.dx-texteditor.dx-state-disabled { border: solid 1px transparent; border-top: solid 1px #000000; background-color: #eee; color: #000000; }
.dx-texteditor-input { padding: 0px;}
.dx-placeholder { margin: 0px; padding: 0px; }
.dx-placeholder:before { padding: 0 0 5px 4px; }

.dx-tag-content { padding: 0 25px 5px 6px; margin: 3px 0 3px 4px; height: 19px; }
.dx-tag-content span { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.dx-state-disabled.dx-widget, .dx-state-disabled .dx-widget { opacity: 1; }
/* END TAG BOX CONTROL */

.tagselect, .noteTopicSelect { width: 97% !important; border: solid 1px black; min-height: 15px; background-color: white; display: inline-block; }
.tagselect.disabled { border: solid 1px transparent; border-top: solid 1px #000000; background-color: #eee; color: #000000; }
.tagselect div {  }
.tagselect div.dx-tag-content span, .noteTopicSelect div.dx-tag-content span{ display: block; margin-top: 5px; }

.tagSelectImage, .noteTopicSelectImage { display: inline-block; padding: 2px; margin: 0 0 0 3px; 
                  background: url('../../Images/Search_Mono_16.png') no-repeat center; width: 18px; height: 18px; vertical-align: bottom;
}

.tagdropdowncontainer { position:absolute; z-index:950; background-color:white; border:solid 1px #333333; box-shadow:3px 5px 5px #eee; padding:10px 20px 10px 5px }
.tagdropdowncontainer ul { list-style:none; margin:0px; padding:0px;  }
.tagselectgridcontainer { height: 600px; overflow: scroll; }
.tagselectgridcontainer { height: 600px; overflow-y: scroll; }
.tagSelectImage:hover, .noteTopicSelectImage:hover { cursor: pointer; }
.tagSelectorHeader { background-color: #0f75b4; color: white; font-weight: bold; font-size: 14px; padding: 3px 8px; border-radius: 5px; }
.tagSelectorContainer { margin-bottom: 10px; }
.tagSelectorContainer ul { list-style: none; padding: 0px; margin: 0px; }
.tagSelectorContainer ul li { margin: 2px 0; }


/* MODAL CONTENT */
.ui-dialog { box-shadow: -5px 5px 15px #999999; border: solid 2px #999999 !important; border-radius: 5px; }
.ui-dialog-titlebar { background-color: #0f75b4; color: white; }

.modalcontent { margin-top: 10px; }
.modalcontent fieldset { margin-bottom: 10px; }
.modalcontent div.inline { margin-bottom: 5px; }
.modalcontent div.twocolumn>div { margin-right: .5%; }
.modalcontent div.threecolumn>div {  }
.modalcontent div.fourcolumn>div { margin-right: .5%; }
.modalcontent div.fivecolumn>div { margin-right: .5%; }

.modalcontent fieldset { background-color: #eeeeee; }

.modalbuttons { text-align: right; padding-top: 15px; }
.modalbuttons input[type="button"] { margin-right: 10px; }
.modalbuttons a { color: #0f75b4; }

.newmodallink { color: #0D75B3 !important; display: block; text-align: right; margin: 5px 15px 5px 0px; }
.newmodallink:hover { text-decoration: underline; }
/* END MODAL CONTENT */


/* NEW CONSTITUENT MODAL */
.addconstituentmodal { overflow: hidden; }
.addconstituentmodal div.fieldblock input { width: 98.7%; }
.addconstituentmodal div.fieldblock select { width: 100%; }

.newconstituentcontainer { vertical-align: top; overflow: hidden; }
.constituenttypeinner { width: 900px; /*position: relative; left: auto;*/ margin: 0px; padding: 0px; }
.constituenttypeselect { display: inline-block; width: 900px; vertical-align: top; margin: 0px; padding: 0px; }
.constituentdetails { display: inline-block; width: 900px; vertical-align: top; margin: 0px; padding: 0px; }

.constituenttypeselect div { width: 150px; height: 177px; border: 5px transparent; display: inline-block; margin: 10px; }
.constituenttypeselect div:hover { cursor: pointer; box-shadow: -5px 5px 15px #333333; }
.constituenttypeselect div img { display: block; width: 100%;  }
.constituenttypeselect div label { display: block; text-align: center; font-size: 14px; font-weight: bold; margin-top: 5px; }

.church { background: url('../../Images/Church.png') no-repeat; }
.family { background: url('../../Images/Family.png') no-repeat; }
.individual { background: url('../../Images/Male.png') no-repeat; }
.organization { background: url('../../Images/Organization.png') no-repeat; }
.default { background: url('../../Images/Male.png') no-repeat; }
/* END NEW CONSTITUENT MODAL */

/*Account Number Selector*/
.accountselectionsearch {background: url('../../Images/Search_16.png') no-repeat; width: 16px; height: 16px; display: inline-block; margin-right: 5px;  }
.accountselectiongrid {width:75%; display: none;}
.accountdescription {padding-left: 4px; padding-right: 4px}
/* End Account Number Selector*/

.required label:after { content: " *"; color: red; }
.dynamicbuttons input { margin-right: 15px;}