body {  }


.hidebuttons {display: none;}
.invisible {visibility: hidden;}

span.leftprompt label {
    width: 35%;
    display: inline-block;
}

span.leftinput input,
span.leftinput select {
    width: 50%;
    display: inline-block;
}

span.journalcolumn {
    width: 30%;
    display: inline-block;
    margin: 5px 0 5px 0;
    vertical-align: top;
}

div.inlinecontainer {
    width: 100%;
    display: inline;
    vertical-align: top;
    margin-top: 1%;
}




