body {  }


.hidebuttons {display: none;}
.invisible {visibility: hidden;}

/*.accountselectorprompt {width: 9%; display: inline-block; margin: 5px 0 5px 10px; }
.accountsearch {vertical-align: middle; margin-left: 5px; width: 16px;}*/

span.journalcolumn {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

span.leftprompt{
    min-width: 50%;
}

div.inlinecontainer {
    width: 100%;
    display: inline;
    vertical-align: top;
    margin-top: 1%;
}




