
.login { width: 300px; margin: 10% auto 0 auto; background-color: white; padding: 45px 20px 20px 20px; border: solid 2px #0f75b4; border-radius: 10px; box-shadow: 0px 3px 10px #999999; }
.login div.buttons { width: 82%; text-align: right; }
.login div.buttons input {  }
.login div.fieldblock { margin-bottom: 25px; }
.login div.fieldblock label { width: 29%; text-align: right; margin-right: 3px; font-weight: bold; font-size: 14px; }
.login div.fieldblock input,
.login div.fieldblock select { width: 55%; }
.login div.forgotpassword { text-align: center; margin: 20px 0 0 0; }
.forgotpasswordmodal div.modalcontent { padding: 20px; }
.forgotpasswordmodal div.modalcontent div.fieldblock input { display: inline-block; width: 70%; }
.forgotpasswordmodal div.modalcontent div.fieldblock label.inline { display: inline-block; width: 14%; text-align: right; margin-right: 5px; font-weight: bold; }
