<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="username" value="jallen@ddi.org" />
    <add key="password" value="Password!1" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
