<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ApiUrl" value="http://localhost:49490/api/v1/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>

    <authentication mode="Forms">
      <forms name=".FormsAuth" loginUrl="~/Login.aspx" protection="All" slidingExpiration="false" requireSSL="false"  />
    </authentication>
    
    <httpRuntime targetFramework="4.6.1"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="SiteMap provider that reads in .sitemap files." type="DDI.UI.Web.Code.CustomSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <roleManager enabled="true" defaultProvider="DDIRoleProvider">
      <providers>
        <add name="DDIRoleProvider" type="DDI.UI.Web.Code.ApiRoleProvider" />
      </providers>
    </roleManager>
    <authorization >
      <deny users="?" />
    </authorization>
    <compilation>
      <assemblies>
        <add assembly="DevExpress.XtraReports.v16.2.Web, Version=16.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin-Read/Write" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Security.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin-Read/Write" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/SystemSettings.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin-Read/Write" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReportService" />
        <binding name="ReportService_Authentication_Forms" allowCookies="false">
          <security mode="None" />
        </binding>
        <binding name="ReportService_Authentication_Win" allowCookies="false">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ReportService_Authentication_Forms_SSL" allowCookies="false">
          <security mode="Transport" />
        </binding>
        <binding name="ReportService_Authentication_Win_SSL" allowCookies="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ReportService_Forms" allowCookies="false" maxReceivedMessageSize="33554432">
          <readerQuotas maxStringContentLength="8388608" maxArrayLength="8388608" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="ReportService_Forms_SSL" allowCookies="false" maxReceivedMessageSize="33554432">
          <readerQuotas maxStringContentLength="8388608" maxArrayLength="8388608" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49490/DXReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="Reporting.IReportService" name="BasicHttpBinding_IReportService" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Forms" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Forms" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Win" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Win" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Forms_SSL" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Forms_SSL" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Win_SSL" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Win_SSL" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Forms" contract="DevExpress.ReportServer.ServiceModel.Client.IReportServerFacadeAsync" name="ReportService" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Forms_SSL" contract="DevExpress.ReportServer.ServiceModel.Client.IReportServerFacadeAsync" name="ReportService_SSL" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Forms" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Forms1" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Win" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Win1" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Forms_SSL" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Forms_SSL1" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Authentication_Win_SSL" contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationServiceAsync" name="ReportService_Authentication_Win_SSL1" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Forms" contract="DevExpress.ReportServer.ServiceModel.Client.IReportServerFacadeAsync" name="ReportService1" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="ReportService_Forms_SSL" contract="DevExpress.ReportServer.ServiceModel.Client.IReportServerFacadeAsync" name="ReportService_SSL1" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="false" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>